@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');

* {
  font-family: 'Lato',
    sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches',
    cursive;
  text-transform: uppercase;
}

.btn {
  border: 1px solid #f00;
}

.btn:hover {
  background-color: #f00;
  transition: .4s ease-in-out;
}

.mt {
  margin-top: 3rem;
}

.py-5 {
  padding-bottom: 0;
}


.navbar {
  background-color: #f00;
  padding: 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  /* margin: 20px; */
  padding: 20px;
}

.navbar-light .navbar-nav .nav-link:hover {
  background: #ccc;
}

nav .logo {
  margin-right: 170px;
  padding: 5px;
}

nav .logo img {
  height: 70px;
  width: 300px;
}

.bg {
  background-image: url(../img/hero-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 70px);
  z-index: 9;
  position: relative;
}

.overlay {
  position: absolute;
  /* Sit on top of the page content */
  width: 100%;
  height: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  /* Black background with opacity */
  z-index: 10;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

.high {
  z-index: 1000;
}